body{
  background: #fff;
  
}

.picture img{
    display: flex;
    width: 210px;
    height: 150px;
    padding: 5px;
   margin-left: auto;
   margin-right: auto;
    
}


.navegacion{
    width: 1000px;
    margin: auto;
    text-align: center;

}

.navegacion ul{
    list-style: none;

}

.menu > li{
    /*position: relative;*/
    display: inline-block;


}

.menu > li >a {
    display: block;
    padding:  15px 20px;
    color:#000 ;
    font-family: 'Open sans';
    text-decoration: none;  

}

.menu li a:hover{
    color: #C1D8C3;
    transition:  all .3s;
}

.fondo img{
    width: 780px;
    height: 680px;
    position: relative;
    padding: 10px;


}

.titulo{
    text-align: center;
    top:50%;
    left:50%;
    color: #000;
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Open sans';
    position: absolute;
    /*left: 50%;
    top: 50%;*/

    font-size: 30px;
    background-image:url('https://images.unsplash.com/photo-1566212775038-532d06eda485?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEzfHx8ZW58MHx8fHx8');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    animation: bgimage 10s linear infinite;
}

@keyframes bgimage{
    100%{
        background-position: 100% 0;
    }
}

.imagen img{
    width: 760px;
    height: 600px;
    position:relative ;
    display: flex;
    padding: 20px;
    margin-left: auto;
   
}



 /*div{
    background-color: aliceblue;
    border-radius: 6px;
    color: #000;
    padding: 15px;
    width: 220px;
    overflow: hidden;
    transition: 0.6s;
    transform: translate(0);
    font-weight: 400;

 }*/

.footer{
    margin-top: 30px;
    padding: 20px;
    /*background:#D0D4CA;*/
    background:url("/img/aireplenes.jpg");
    color: #000;
    font-size: 20px;
    /*font-family: 'Pacifico', cursive;*/ 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
 }
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 .title-footer{
    font-size: 20px;
 }
 
 .socialicons {
    display: flex;
    margin-top: 2px;
 }
 .socialicons .icon{
    width: 80px;
    height: 80px;
    box-shadow: 0 0 5px 10px rgba(0,0,0,0.05);
    margin: 0 30px;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    text-decoration: none;
    color: #000;
    border-radius: 50%;
    position: relative;
    overflow:hidden;
    z-index: 0;
 }
 
 a:after {
    content: '';
    width: 80px;
    height: 80px;
    z-index: -1;
    position: absolute;
    bottom: -80px;
    left: 0;
    transition: 0.15s;

 
 }
 .facebook-icon:after {
    background: linear-gradient(to bottom, #3A5795 0%, #2B4886 100%);
 }
 
 .instagram-icon::after{
    background: linear-gradient(to bottom, #8A2387, #E94057, #F27121);
 }
 
 .socialicons .icon:hover {
    color: #fff;
 }
 
 a:hover::after {
    bottom: 0;
 }
 
 

/*a{
    text-decoration: none;

}

ul{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    padding:  0;

}

ul div{
    width: 40px;
    height: 5px;
    background-color: #9581f4;
    margin: auto;
}

ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    margin: 0 20px;

}

ul li span{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #2a2a2a;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px !important;
    transition: 1.5s ease-out;

}

ul li :hover span{
    transition: .3s;
}

ul li :nth-child(2):hover span{
 background: #2C3456 !important;
}

ul li :nth-child(3)  :hover span{
    background: #CC296C !important;


}

ul li :nth-child(4):hover span{
    background: #2C3456 !important;

}*/

