.mean {
   margin: 0%;
   background-image: url("./imag/Fondo.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   opacity: 1;
   

}





.site-header{
   margin: 0;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 10px;
   background: url("./imag/header.jpg");
   align-items:center;
   
}



.text{
font-family: 'Pacifico', cursive;   
color: #fff;
animation: neon 5s infinite;
font-size: 20px;
text-align: center;

}



@keyframes neon{
   0%, 39%, 41%, 59%, 61%, 100%{
      text-shadow: 
      #fff 0 0 12px,
      #00FFAB 0 0 24px,
      #00FFAB 0 0 36px;

   }

   40%, 60%{
      text-shadow: none;
   }
}

.cards{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   padding: 20px;
   gap: 2rem;
   
}

.card{
   position: relative;
   width: 290px;
   height: 255px;
   background: url('./imag/blog.jpg')
   center no-repeat;
   background-size: cover;
   border-radius: 20px;
   z-index: 1;
   overflow: hidden;
   padding: 20px;
   margin: 0 auto;

}

.card_title{
   font-family: 'Pacifico', cursive;  
   text-align: center;
   
}

.card_2{
   position: relative;
   width: 290px;
   height: 255px;
   background: url('./imag/note.jpg')
   center no-repeat;
   background-size: cover;
   border-radius: 20px;
   z-index: 1;
   overflow: hidden;
   padding: 20px;
   margin: 0 auto;
}
.card_3{
   position: relative;
   width: 290px;
   height: 255px;
   background: url('./imag/frase.jpg')
   center no-repeat;
   background-size: cover;
   border-radius: 20px;
   z-index: 1;
   overflow: hidden;
   padding: 20px;
   margin: 0 auto;

}

.card_4{
   position: relative;
   width: 290px;
   height: 255px;
   background: url('./imag/book.jpg')
   center no-repeat;
   background-size: cover;
   border-radius: 20px;
   z-index: 1;
   overflow: hidden;
   padding: 20px;
   margin: 0 auto;

}

.card_5{
   position: relative;
   width: 290px;
   height: 255px;
   background: url('./imag/relax.jpg')
   center no-repeat;
   background-size: cover;
   border-radius: 20px;
   z-index: 1;
   overflow: hidden;
   padding: 20px;
   margin: 0 auto;

}

.card_6{
   position: relative;
   width: 290px;
   height: 255px;
   background: url('./imag/lamp.jpg')
   center no-repeat;
   background-size: cover;
   border-radius: 20px;
   z-index: 1;
   overflow: hidden;
   padding: 20px;
   margin: 0 auto;

}



.card::before,
.card::after{
   content: '';
   position: absolute;
   left: 0;
   width: 100%;
   height: calc(60% + 30px);
   background-color: #F9CEEE;
   transition: transform .5s .25s
   ease-in;
   z-index: -1;

}

.card::before{
   top:0;
   clip-path: polygon(0 0,100% 0 , 100% 45%,0% 100%);
   transform: translateY(-100%);

}

.card::after{
   bottom: 0;
   clip-path: polygon(0 55%,100% 0,100% 100%, 0 100%);
   transform: translateY(100%);

}

.card_content{
   opacity: 0;
   transition: opacity .25s;

}

.card:hover::before,
.card:hover::after{
   transform: translateY(0);


}

.card:hover .card_content{
   opacity: 1;
   transition-delay: .75s;
}




.footer{
   margin-top: 30px;
   padding: 20px;
   background: url("./imag/header.jpg");
   color: #94B49F;
   font-size: 20px;
   font-family: 'Pacifico', cursive; 
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.title-footer{
   font-size: 20px;
}

.socialicons {
   display: flex;
   margin-top: 10px;
}
.socialicons .icon{
   width: 80px;
   height: 80px;
   box-shadow: 0 0 5px 10px rgba(0,0,0,0.05);
   margin: 0 30px;
   text-align: center;
   line-height: 80px;
   font-size: 30px;
   text-decoration: none;
   color: #fff;
   border-radius: 50%;
   position: relative;
   overflow:hidden;
   z-index: 0;
}

a:after {
   content: '';
   width: 80px;
   height: 80px;
   z-index: -1;
   position: absolute;
   bottom: -80px;
   left: 0;
   transition: 0.15s;

}
.facebook-icon:after {
   background: linear-gradient(to bottom, #3A5795 0%, #2B4886 100%);
}

.instagram-icon::after{
   background: linear-gradient(to bottom, #8A2387, #E94057, #F27121);
}

.socialicons .icon:hover {
   color: #fff;
}

a:hover::after {
   bottom: 0;
}

.fondonote {
   margin: 0%;
   background-position: center center;
   background-image: url(./imag/back.jpg);
   background-size: cover;
   height: 20cm;
   padding: 30px;
   
 

}